.wrapper {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  height: 60px;
  width: 100%;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: default;
  padding: 30px;
}
